server:
  port: ${QUERY_SERVER_PORT:8081}

spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
    streams:
      application-id: ${KAFKA_STREAMS_APP_ID:ecommerce-analytics}
      properties:
        state.dir: /tmp/kafka-streams
        cache.max.bytes.buffering: 10485760
        default.state.store.type: in_memory
        processing.guarantee: exactly_once_v2
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

app:
  topics:
    product: ${PRODUCT_TOPIC:product-events}
    order: ${ORDER_TOPIC:order-events}
